@use 'shared-style.scss' as ss;

.FoodsTableRow {
    // Disable user select.
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    .foodTableRow_Button{
        width: 100px;
        height: 45px;
        border: none;
        margin-left: 5px;
        border-radius: 2px;
        color: rgb(213, 213, 213);
        background-color: ss.$main-color-5;
    }
    .foodTableRow_OrderAmount {
        width: 40px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
}
